<app-ibs-modal-shell [wide]="false" (cancelled)="bsModalRef.hide()">

  <app-ibs-modal-header
    [title]="'Actualizar secuenca del e-NCF' | localize"
    [accent]="selectedTaxVoucherTypeName()"
    (closed)="bsModalRef.hide()">
  </app-ibs-modal-header>

<app-ibs-modal-body>
  <div class="grid-template-2">

    <div class="field-col">
      <app-ibs-select
        label="Tipo de comprobante"
        [options]="taxVoucherTypeOptions()"
        bindLabel="codeAndDescription"
        bindValue="id"
        required="true"
        [ngModel]="model()?.taxVoucherTypeId">
        </app-ibs-select>

    </div>

    <div class="field-col">
      <app-ibs-input
        [label]="'Cantidad registrada'"
        name="registeredQuantity"
        [required]="true"
         [minLength]="1"
        type="number"
        [(ngModel)]="model().registeredQuantity">
      </app-ibs-input>
    </div>

    <div class="field-col">
      <app-ibs-input
        [label]="'Secuencia actual'"
        name="currentSequence"
        [required]="true"
        [minLength]="1"
        type="number"
        [(ngModel)]="model().currentSequence">
      </app-ibs-input>
    </div>


  
    
<div class="field-col">
    
        <app-ibs-datepicker
      [(ngModel)]="model().expeditionDate"
      label="Fecha de expedicion">
    </app-ibs-datepicker>

    </div>

    <div class="field-col">
    <app-ibs-input
    [label]="'Minimo para alertar' | localize"
    name="minimumToAlert"
    [required]="true"
    type="number"
    [minLength]="0"
    [(ngModel)]="model().minimumToAlert">
</app-ibs-input>
</div>




  <div class="field-col">
    
             <app-ibs-datepicker
      [(ngModel)]="model().expirationDate"
      label="Fecha de expiración">
    </app-ibs-datepicker>
    </div>
    <div class="field-col">
      <app-ibs-input
        [label]="'Cantidad restante' | localize"
        name="remainingQuantity"
        type="number"
        [minLength]="1"
        disabled="true"
        [(ngModel)]="model().remainingQuantity">
    </app-ibs-input>
</div>


  
  <div class="field-col field-col-checkbox">
      <app-ibs-check-box
        [text]="'¿Esta activo?' | localize"
        name="isActive"
        [(ngModel)]="model().isActive">
      </app-ibs-check-box>
    </div>

    <div class="field-col">
      <app-ibs-input
        [label]="'Secuencia final' | localize"
        name="finalSequence"
        [required]="true"
        type="number"
        [minLength]="1"
        disabled="true"
        [(ngModel)]="model().finalSequence">
      </app-ibs-input>
    </div>

    <div class="field-col field-row">

      <app-ibs-textarea
        label="Comentario"
        [rows]="3"
        [maxLength]="250"
        [(ngModel)]="model().comment">
        </app-ibs-textarea>
    </div>




    

  </div>
</app-ibs-modal-body>

  <app-ibs-modal-footer
    [closeText]="'Cancel' | localize"
    [saveText]="'Save' | localize"
    (closed)="bsModalRef.hide()"
    (saved)="save()">
  </app-ibs-modal-footer>

</app-ibs-modal-shell>