<ng-template #activeTpl let-u>
  <span [class]="u.isActive ? 'ibs-badge ibs-badge--yes' : 'ibs-badge ibs-badge--no'">
    {{ u.isActive ? 'Sí' : 'No' }}
  </span>
</ng-template>

<ng-template #nameTpl let-u>
  {{ u.name }} {{ u.surname }}
</ng-template>

<app-ibs-grid
  [title]="'Secuencias de e-NCF'"
  [subtitle]="'Mantenimiento para configuar secuencias para los diferentes tipos de e-NCF'"
  [placeholderSearch]="'Buscar...'"
  [columns]="columns()"
  [actions]="actions()"
  [createPolicy]="createPolicy"
  [load]="loadTaxVouchers"
  (create)="onCreate()">
</app-ibs-grid>