<ng-template #activeTpl let-u>
  <span [class]="u.isActive ? 'ibs-badge ibs-badge--yes' : 'ibs-badge ibs-badge--no'">
    {{ u.isActive ? 'Sí' : 'No' }}
  </span>
</ng-template>

<ng-template #nameTpl let-u>
  {{ u.name }} {{ u.surname }}
</ng-template>

<app-ibs-grid
  [title]="'Autenticacion Ecf'"
  [subtitle]="'Mantenimiento para la autenticacion contra el api de facturacion electronica'"
  [placeholderSearch]="'Buscar...'"
  [columns]="columns()"
  [actions]="actions()"
  [createPolicy]="createPolicy"
  [load]="loadEcfApiAuthentication"
  (create)="onCreate()">
</app-ibs-grid>