<app-ibs-modal-shell [wide]="false" (cancelled)="bsModalRef.hide()">

  <app-ibs-modal-header
    [title]="'Crear nuevo usuario' | localize"
    (closed)="bsModalRef.hide()">
  </app-ibs-modal-header>

  <app-ibs-modal-body>

    <div class="ibs-edit-user-section">

          <div class="ibs-fields-stack">
            <div class="ibs-field">
              <app-ibs-input
                [label]="'Name' | localize"
                name="name"
                [required]="true"
                [maxLength]="64"
                [(ngModel)]="user.name">
              </app-ibs-input>
            </div>

            <div class="ibs-field">
              <app-ibs-input
                [label]="'Surname' | localize"
                name="surname"
                [required]="true"
                [maxLength]="64"
                [(ngModel)]="user.surname">
              </app-ibs-input>
            </div>

            <div class="ibs-field">
              <app-ibs-input
                [label]="'UserName' | localize"
                name="userName"
                [required]="true"
                [minLength]="2"
                [maxLength]="256"
                [(ngModel)]="user.userName">
              </app-ibs-input>
            </div>

            <div class="ibs-field">
              <app-ibs-input
                [label]="'Password' | localize"
                type="password"
                name="password"
                [required]="true"
                [maxLength]="32"
                [(ngModel)]="user.password">
              </app-ibs-input>
            </div>

            <div class="ibs-field">
              <app-ibs-input
                [label]="'ConfirmPassword' | localize"
                type="password"
                name="confirmPassword"
                [required]="true"
                [maxLength]="32"
                [(ngModel)]="confirmPassword">
              </app-ibs-input>
            </div>

            <div class="ibs-field">
              <app-ibs-input
                [label]="'EmailAddress' | localize"
                type="email"
                name="emailAddress"
                [required]="true"
                [maxLength]="256"
                [(ngModel)]="user.emailAddress">
              </app-ibs-input>
            </div>
          </div>

          <div class="ibs-toggle-row">
            <app-ibs-check-box
              [text]="'IsActive' | localize"
              name="isActive"
              [(ngModel)]="user.isActive">
            </app-ibs-check-box>
          </div>

        </div>

  </app-ibs-modal-body>

  <app-ibs-modal-footer
    [closeText]="'Cancel' | localize"
    [saveText]="'Save' | localize"
    (closed)="bsModalRef.hide()"
    (saved)="save()">
  </app-ibs-modal-footer>

</app-ibs-modal-shell>