<div class="ibs-modal-foot">
  <ng-content></ng-content>

  @if (showClose) {
    <button
      class="btn ghost ibs-btn-close"
      type="button"
      (click)="onCloseClick($event)">
      {{ closeText }}
    </button>
  }

  @if (showSave) {
    <button
      class="ibs-action-btn ibs-btn-save"
      type="button"
      [disabled]="saveDisabled"
      (click)="onSaveClick($event)">
      <i class="bi bi-floppy"></i>
      <span class="d-none d-sm-inline">{{ saveText }}</span>
    </button>
  }
</div>