<app-ibs-modal-shell [wide]="false" (cancelled)="bsModalRef.hide()">

  <app-ibs-modal-header
    [title]="'Crear nueva autenticacion para el Api de facturacion electronica' | localize"
    (closed)="bsModalRef.hide()">
  </app-ibs-modal-header>

  <app-ibs-modal-body>
    <div class="ibs-fields-stack">
            <div class="ibs-field">
              <app-ibs-input
                [label]="'Codigo del comprobante'"
                name="lblcode"
                [required]="true"
                [maxLength]="64"
                [(ngModel)]="taxVoucherUpdate.code">
              </app-ibs-input>
            </div>

            <div class="ibs-field">
              <app-ibs-input
                [label]="'descripcion del comprobante'"
                name="lbldescription"
                [required]="true"
                [maxLength]="2000"
                [(ngModel)]="taxVoucherUpdate.description">
              </app-ibs-input>
            </div>

      

            
            <div class="ibs-field">
              <app-ibs-input
                [label]="'Formato del comprobante'"
                name="lblformat"
                [required]="true"
                [minLength]="2"
                [maxLength]="256"
                [(ngModel)]="taxVoucherUpdate.format">
              </app-ibs-input>
            </div>


            <div class="ibs-field">
              <app-ibs-input
                [label]="'Longitud del comprobante' | localize"
                name="lbltxl"
                [required]="true"
                [maxLength]="256"
                [(ngModel)]="taxVoucherUpdate.taxVoucherLenght">
              </app-ibs-input>
            </div>

            <app-ibs-check-box
              [text]="'¿Esta activo?' | localize"
              name="isActive"
              [(ngModel)]="taxVoucherUpdate.isActive">
            </app-ibs-check-box>
    
    </div>

        
   

  </app-ibs-modal-body>

  <app-ibs-modal-footer
    [closeText]="'Cancel' | localize"
    [saveText]="'Save' | localize"
    (closed)="bsModalRef.hide()"
    (saved)="save()">
  </app-ibs-modal-footer>

</app-ibs-modal-shell>