<form
  class="form-horizontal ibs-edit-user-form"
  autocomplete="off"
  #editUserForm="ngForm"
  (ngSubmit)="save()">

  <app-ibs-modal-shell [wide]="false" (cancelled)="close()">

    <app-ibs-modal-header
      [title]="'EditUser' | localize"
      (closed)="close()">
    </app-ibs-modal-header>

    <app-ibs-modal-body>

      <app-ibs-modal-tabs>

        <app-ibs-modal-tab
          [label]="'UserDetails' | localize"
          icon="bi bi-person">

          <div class="ibs-edit-user-section">
            <div class="ibs-fields-stack">

              <div class="ibs-field">
                <app-ibs-input
                  [label]="'Name' | localize"
                  name="name"
                  [required]="true"
                  [maxLength]="64"
                  [(ngModel)]="user.name">
                </app-ibs-input>
              </div>

              <div class="ibs-field">
                <app-ibs-input
                  [label]="'Surname' | localize"
                  name="surname"
                  [required]="true"
                  [maxLength]="64"
                  [(ngModel)]="user.surname">
                </app-ibs-input>
              </div>

              <div class="ibs-field">
                <app-ibs-input
                  [label]="'UserName' | localize"
                  name="userName"
                  [required]="true"
                  [minLength]="2"
                  [maxLength]="256"
                  [(ngModel)]="user.userName">
                </app-ibs-input>
              </div>

              <div class="ibs-field">
                <app-ibs-input
                  [label]="'EmailAddress' | localize"
                  type="email"
                  name="emailAddress"
                  [required]="true"
                  [maxLength]="256"
                  [(ngModel)]="user.emailAddress">
                </app-ibs-input>
              </div>

            </div>

            <div class="ibs-toggle-row">
              <app-ibs-check-box
                [text]="'IsActive' | localize"
                name="isActive"
                [(ngModel)]="user.isActive">
              </app-ibs-check-box>
            </div>
          </div>

        </app-ibs-modal-tab>

     

      </app-ibs-modal-tabs>

    </app-ibs-modal-body>

    <app-ibs-modal-footer
      [closeText]="'Cancel' | localize"
      [saveText]="'Save' | localize"
      [saveDisabled]="!canSubmit || saving"
      (closed)="close()"
      (saved)="save()">
    </app-ibs-modal-footer>

  </app-ibs-modal-shell>
</form>