<div class="ibs-modal-layer" [style.z-index]="zIndex">
  <div class="ibs-modal-backdrop" (click)="cancelled.emit()"></div>

  <div
    class="ibs-modal"
    [class.wide]="wide"
    role="dialog"
    aria-modal="true"
    (click)="$event.stopPropagation()"
  >
    <div class="ibs-slot ibs-slot-header">
      <ng-content select="app-ibs-modal-header"></ng-content>
    </div>

    <div class="ibs-slot ibs-slot-topbar">
      <ng-content select="app-ibs-modal-top-bar"></ng-content>
    </div>

    <div class="ibs-slot ibs-slot-body">
      <ng-content select="app-ibs-modal-body"></ng-content>
    </div>

    <div class="ibs-slot ibs-slot-footer">
      <ng-content select="app-ibs-modal-footer"></ng-content>
    </div>
  </div>
</div>