<ul class="nav nav-tabs ibs-tabs" role="tablist">
  @for (tab of tabs; track tab.label; let i = $index) {
    <li class="nav-item" role="presentation">
      <button
        type="button"
        class="nav-link ibs-tab-btn"
        role="tab"
        [class.active]="activeIndex() === i"
        [class.disabled]="tab.disabled"
        [disabled]="tab.disabled"
        [attr.aria-selected]="activeIndex() === i"
        (click)="select(i)">
        @if (tab.icon) {
          <i [class]="tab.icon + ' me-1'"></i>
        }
        {{ tab.label }}
      </button>
    </li>
  }
</ul>

<div class="tab-content ibs-tab-panel p-3 border border-top-0 rounded-bottom bg-white">
  @for (tab of tabs; track tab.label; let i = $index) {
    @if (activeIndex() === i) {
      <div class="tab-pane fade show active">
        <ng-container *ngTemplateOutlet="getTemplate(i)" />
      </div>
    }
  }
</div>